<nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Home</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <li><a></a></li>
          <li><a ui-sref="charts">Charts</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Exit</a></li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>