<div role="form">
  <div class="box-body">
    <fields id="name" label="Nome" grid="4" placeholder="Informe o Nome" type="text"
      model="bcCtrl.billingCycle.name" readonly="bcCtrl.tabDelete"></fields>
    <fields id="month" label="Mes" grid="4" placeholder="Informe o Mes" type="number" 
      model="bcCtrl.billingCycle.month" readonly="bcCtrl.tabDelete"></fields>
    <fields id="year" label="Ano" grid="4" placeholder="Informe o Ano" type="number"
      model="bcCtrl.billingCycle.year" readonly="bcCtrl.tabDelete"></fields>

    <div class="col-xs-12">
      <fieldset>
        <legend>Resumo</legend>
        <div ng-include="'billingCycle/summary.html'"></div>
      </fieldset>
    </div>

    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Creditos</legend>
        <div ng-include="'billingCycle/creditList.html'"></div>
      </fieldset>
    </div>

    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Debitos</legend>
        <div ng-include="'billingCycle/debtList.html'"></div>
      </fieldset>
    </div>

  </div>
  <div class="box-footer">
    <button ng-show="bcCtrl.tabCreate" class="btn btn-primary" ng-click="bcCtrl.create()">Incluir</button>
    <button ng-show="bcCtrl.tabUpdate" class="btn btn-info" ng-click="bcCtrl.update()">Alterar</button>
    <button ng-show="bcCtrl.tabDelete" class="btn btn-danger" ng-click="bcCtrl.delete()">Exluir</button>
    <button class="btn btn-default" ng-click="bcCtrl.refresh()">Cancelar</button>
  </div>
</div>  